.Navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:rgb(248, 59, 59);
    height: 40px;
}
.text{
    text-decoration: none;
    color:black;
    font-size: 17pt;
}

.text:hover{
    color: white;
}

